{% extends 'base.html' %}
{% block content %}

<h4>Search Results</h4>

<div class ="posts">
        {% for post in object_list %}
            <div class="card hoverable">
                <a href=" {% url 'detail' post.id %} ">
                <div class="card-content">
                    <span class="card-title">{{ post.title }}</span>
                    <h5>${{ post.price }}</h5>
                    <p>{{ post.description }}</p>
                </div>
                </a>
                
            </div>
        

  {% endfor %}
{% endblock %}

