body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: barlow;
  }

  main {
    flex: 1 0 auto;
    text-align:center;
  }


  .slider {
 min-height: 100%;
  }

  .slides {
    min-height: 100%;
  }

  .tealish {
    background-color: #116070;
  }

  .landing-slider {
    min-height: 100%;
    margin: auto;
  }


 .nav-logo img {
    height: 100%;
  }

  #login-form {
display: inline-block;
  }

  #post-form {
  display: inline-block;
  }
  