body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: barlow;
  }

  main {
    flex: 1 0 auto;
    text-align:center;
  }

  .tealish {
    background-color: #116070;
  }

  .landing-slider {
    min-height: 100%;
    margin-top: 100px;
  }


 .nav-logo img {
    height: 100%;
  }

  .login {
    display: inline-block;
    max-width: 500px;

  }

  #login-form {
display: inline-block;
  }