{% extends 'base.html' %}
{% block content %}



                    <img class ="responsive-img" src="https://www.cbc.ca/doczone/content/images/episodes/exoticpets_rules.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Welcome to The Exotic Pets Club</h3>
                      <h5 class="light grey-text"><a href="/">Join the club today!</a></h5>
                    </div>
                  </li>
                  <li>
                    <img class="responsive-img" src="https://www.thatsmyvet.com/images/hero/exotics.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Have some spare animal friends?</h3>
                      <h5 class="light grey-text"><a href="/">Create a new post here!</a></h5>
                    </div>
                  </li>
               
{% endblock %}