{% extends 'base.html' %}
{% block content %}


<div class="login">
    <div class="transparent" id ="login-form">
      <div>      
        <h4>Log In</h4>
      </div>
<div>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn" value="login">
  <input type="hidden" name="next" value="{{ next }}">
</form>

<h6>Not currently a user? Sign Up!</h6>

<a href="{% url 'signup' %}">Sign Up</a>
      </div>
    </div>
  
</div>
{% endblock %}