{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Exotic Pets Club</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
  </head>
<body>
    <header>

  <nav class="blue lighten-2">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">ExoticPetsClub</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'index' %}">Posts</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'posts_create' %}">New Post</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
            <li><a href="{% url 'user_index' %}">My Posts</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav> 
      <!-- shdadhkasjdhsakj -->
            
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer blue lighten-2">
            <div class="footer-copyright">
              <div class="container">
              © 2019 Klass, Blackwell & Chan
              </div>
            </div>
          </footer>
</body>
</html>