{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Exotic Pets Club</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <script src="{% static 'main.js' %}"></script>
  </head>
<body>
    <header>

  <nav class="cyan lighten-2">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">ExoticPetsClub</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><div class="nav-wrapper">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </div></li>
            <li><a href="{% url 'index' %}">Browse</a></li>
            {% if user.is_authenticated %}
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="large material-icons">person</i></a>
            <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{% url 'user_index' %}">My Posts</a></li>
            <li><a href="{% url 'posts_create' %}">New Post</a></li>
            <li><a href="{% url 'logout' %}">Sign Out</a></li>
            
          </ul>
            {% else %}
            <a class='dropdown-trigger btn' href='#' data-target='dropdown2'><i class="large material-icons">person</i></a>
            <ul id='dropdown2' class='dropdown-content'>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Sign In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav> 
      <!-- shdadhkasjdhsakj -->
            
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer cyan lighten-2">
            <div class="footer-copyright">
              <div class="container">
              © 2019 Klass, Blackwell & Chan
              </div>
            </div>
          </footer>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>