{% extends 'base.html' %}
{% block content %}
<div class = "post-details">
<h3>{{post.title}}</h3>
For more information contact <h6>{{post.contact}}</h6>


<!-- post display -->

<div class="card">
  <div class="card-content">
    <div class="card-action">
      {% if post.user == user %}
      <a href="{% url 'posts_update' post.id %}">EDIT POST</a>
      <a href="{% url 'posts_delete' post.id %}">DELETE POST</a>
      {% endif %}
    </div>
  </div>




    {% for photo in post.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
      {% if post.user == user %}
      <div>
        <a href="{% url 'delete_photo' post.id photo.id %}">DELETE PHOTO</a>
      </div>
      {% endif %}
    {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
      {% if post.user == user %}
      <!-- photo form -->
      <div class ="card form">
        <div class="input-field">
        <form action="{% url 'add_photo' post.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
          {% csrf_token %}
          <div>
          <input type="file" name="photo-file">
        </div>
          <input type="submit" class="btn" value="Upload Photo">
        </form>
      </div>
      </div>
      {% endif %}

<!-- comment display -->
<!-- comment form -->



<div class = "comments">
  <h2>Comments:</h2>

  {% if user.is_authenticated %}
<div class="card post-details">
  <div class="card-content">
    <form action="{% url 'add_comment' post.id user.id%}" method="post">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" class="btn" value="ADD COMMENT">
    </form> 
  </div>
</div>
{% endif %}

{% for comment in post.comment_set.all %}

    <h6>{{ comment.comment }}</h6>
   by: <p>{{ comment.user }} on 
    {{ comment.created }}</p>
    <div class="card-action">
        {% if comment.user == user %}
        <a href="{% url 'delete_comment' post.id comment.id %}">DELETE</a>
        {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>

{% endblock %}